{% capture content %}
{% assign mylocale = 'en' %}
{% if template.name == "blog" or template.name == "article" %}
    {% assign newname = blog.handle %}
    {% assign mylocale = 'en' %}
     {% if newname == 'ru' %}
         {% assign mylocale = 'ru' %}
     {% elsif newname == 'fr' %}
         {% assign mylocale = 'fr' %}
     {% elsif newname == 'de' %}
         {% assign mylocale = 'de' %}
     {% elsif newname == 'es' %}
         {% assign mylocale = 'es' %}
	 {% elsif newname == 'nl' %}
         {% assign mylocale = 'nl' %}
	 {% elsif newname == 'it' %}
         {% assign mylocale = 'it' %}
     {% elsif newname == 'ja' %}
         {% assign mylocale = 'ja' %}
     {% elsif newname == 'ar' %}
         {% assign mylocale = 'ar' %}
     {% elsif newname == 'el' %}
         {% assign mylocale = 'el' %}
     {% elsif newname == 'pl' %}
         {% assign mylocale = 'pl' %}
     {% elsif newname == 'pt' %}
         {% assign mylocale = 'pt' %}
     {% elsif newname == 'et' %}
         {% assign mylocale = 'et' %}
     {% elsif newname == 'bg' %}
         {% assign mylocale = 'bg' %}
     {% elsif newname == 'da' %}
         {% assign mylocale = 'da' %}
     {% elsif newname == 'fi' %}
         {% assign mylocale = 'fi' %}
     {% elsif newname == 'cs' %}
         {% assign mylocale = 'cs' %}
     {% elsif newname == 'lv' %}
         {% assign mylocale = 'lv' %}
     {% elsif newname == 'lt' %}
         {% assign mylocale = 'lt' %}
     {% elsif newname == 'ro' %}
         {% assign mylocale = 'ro' %}
     {% elsif newname == 'id' %}
         {% assign mylocale = 'id' %}
     {% elsif newname == 'sv' %}
         {% assign mylocale = 'sv' %}
     {% elsif newname == 'sk' %}
         {% assign mylocale = 'sk' %}
     {% elsif newname == 'sl' %}
         {% assign mylocale = 'sl' %}
     {% elsif newname == 'hu' %}
         {% assign mylocale = 'hu' %}
     {% elsif newname == 'tr' %}
         {% assign mylocale = 'tr' %}
     {% elsif newname == 'pt-br' %}
     {% assign mylocale = 'pt-br' %}
     {% endif %}
     
{% endif %}

<!doctype html>
<html lang="{{ mylocale }}">
<head>{% render 'pagefly-head' %}
<!-- Google tag (gtag.js) --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SVVZP9JHEV"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-SVVZP9JHEV'); </script>
 {%- render 'layouthub_header' -%}
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}" />
<meta name="yandex-verification" content="ae8561340cf739fa" />
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61a6e69d53b398095a66dc8a/1flpv9ml9';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
  /**
   * url包含'web-pixels-manager','.atom','vendors'则添加<meta name="robots" content="noindex,nofollow">
   * 
   * */
  let metaRobots = document.querySelector("meta[name='robots']");

  if(['web-pixels-manager','.atom','vendors','wpm@0.0.244','/wpm','/all/'].find(item=>location.href.includes(item))){
    if(!metaRobots){
      metaRobots = document.createElement('meta');
      metaRobots.name = 'robots';
      document.getElementsByTagName('head')[0].appendChild(metaRobots);
    }
    metaRobots.content = 'noindex,nofollow';
  }
  /**
   * 分类产品路径替换成产品路径
  * */
 if(location.href.includes('/collections')&&location.href.includes('/products')){
    let replaceUrl = location.href.replace(/\/collections.*(?=\/products)/ig,'')
    location.replace(replaceUrl)
 }

</script>
 <!--End of Tawk.to Script-->
  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}
    {%- if page_title != 'Articles' -%}
    {{ page_title }}
    {% endif %}
  {% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %} - Best Wholesale Vape Supplier</title>
  <link rel="preconnect dns-prefetch" href="https://fonts.shopifycdn.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://v.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com" />

  {% if settings.enable_shopify_review_comments %}
    <link rel="preconnect dns-prefetch" href="https://productreviews.shopifycdn.com" />
  {% endif %}
 <style>
  .section--has-sidebar-option.has-sidebar-disabled {
    width: 100%;
    max-width: none;
  } 
 </style>
  {{ 'aos.css' | asset_url | stylesheet_tag }}
  {{ 'animate-ui.css' | asset_url | stylesheet_tag }}
  {{ 'fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-editable-select.min.css' | asset_url | stylesheet_tag }}
  <!-- Stylesheets for Flex "2.0.1" -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'styles-increment.css' | asset_url | stylesheet_tag }}
  {{ 'mobile.css' | asset_url | stylesheet_tag }}

  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <script type="text/javascript" src="/services/javascripts/currencies.js" ></script>
  {% endif %}
  <script>
    {% include 'js-variables' %}
  </script>

  <script src="{{ 'utils.js' | asset_url }}"></script>
  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  <script src="{{ 'aos.js' | asset_url }}"></script>
  <script src="{{ 'swiper.min.js' | asset_url }}"></script>
  
  <script defer src="{{ 'vendors.js' | asset_url }}"></script>
  <script defer src="{{ 'utilities.js' | asset_url }}"></script>
  <script defer src="{{ 'app.js' | asset_url }}"></script>
 
  <script src="{{ 'smooth-scroll.js' | asset_url }}"></script>


  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script defer src="{{ 'currencyConversion.js' | asset_url }}"></script>
  {%- endif -%}

  {%- if settings.enable_shipping_calculator and template contains "cart" -%}
    <script defer type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="/services/javascripts/countries.js"></script>
  {%- endif -%}

  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */
    </style>
  </noscript>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script defer src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer src="{{ 'customer_area.js' | shopify_asset_url }}"></script>
  {%- endif -%}

  {{ content_for_header }}

  {% include 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}
 
{% render 'pagefly-header' %}
 <!--AZEXO_Header_Scripts--> {% include 'azexo-header-scripts' %} <!--End_AZEXO_Header_Scripts--><!--AZEXO_Version_85-->

 {%- unless template contains 'product' -%}
    <script>
  window.onload = function(){
	  let video = document.querySelector('video');
      let top = video.offsetTop  - window.innerHeight;
      let bottomTop = video.offsetTop + video.offsetHeight;
      console.log(video.offsetTop,top,bottomTop);
      window.onscroll = function() {
        //为了保证兼容性，这里取两个值，哪个有值取哪一个
        //scrollTop就是触发滚轮事件时滚轮的高度
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if(scrollTop>top&&scrollTop<bottomTop){
        	video.play();
        }else{
        	video.pause();
        }
      }
  }
</script>
{%- endunless -%}
  
  {% render 'shogun-head' %}
</head> 

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

<body class="{%- if template == '404' -%}
              error-404
            {% else -%}
              {{ template | replace: '.', '-' | handle }}
            {%- endif -%}
            {% if settings.header_layout == 'vertical' -%}
              has-vertical-header
            {%- endif -%}"
      data-money-format="{{ shop.money_format }}"
      data-shop-url="{{ shop.url }}">

  {%- if settings.show_announcement_bar -%}
    {% section 'announcement-bar' %}
  {%- endif -%}
  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% include 'ajax-cart' %}
  {%- endif -%}
 <!--Hidden products12 29-Start--
  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}
Hidden products12 29 End-->
  <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->

  {% if settings.footer_layout == "centered" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-centered' %}
  {% elsif settings.footer_layout == "classic" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-classic' %}
  {% elsif settings.footer_layout == "promotional" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-promotional' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% include 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% include 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}


  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" defer></script>
    {% endif %}
  {% endif %}

 {% include 'smile-initializer' %}

  <!--AZEXO_Footer_Scripts--> {% include 'azexo-footer-scripts' %} <!--End_AZEXO_Footer_Scripts--> <script src='{{ 'ndnapps-jslibrary.js' | asset_url }}' defer='defer'></script>
  {%- render 'layouthub_footer' -%} 
  
<!--   弹出框 -->
   <div class="dialog">
    <div class="preview_box_wrap">
      <div class="logo" style="background-color: #ffffff;"><img
          src="https://cdn.shopifycdn.net/s/files/1/0283/9815/7955/files/logo.png?v=1623246219">
          
      </div>
      <h2 class="pre_title" id="preview_header_text" style="font-weight: 700;">AGE VERIFICATION</h2>
      <p class="pre_contain" id="preview_sub_header_text" style="font-weight: 400;"> To use the UPENDS website you must
        be aged 21 years or over. Please verify your age before entering the site.</p>
      <div class="preview_btn" style="background-color:  transparent ;"><span class="main-box-bg"
          style="border-top-color: #ffffff;"></span>
        <div class="agree"> <button type="button" data-verified="true" onclick="hulkCollectStatusRequest(true)"
            class="agree_btn btn_verified"><span>I am over 21</span></button></div>
        <div class="disagree" style="margin-left:15px;"> <button type="button" data-verified="false"
            class="disagree_btn btn_verified" onclick="hulkCollectStatusRequest(false)" id="btn_disabled"><span>I am
              under 21</span></button></div>
      </div>
    </div>
  </div>
  {% if template.name == 'article' %}
  <script>
    
    var a = document.querySelectorAll('.article-main h3');
    var b = document.querySelector('.navigation');
    if(a.length>0){
      b.style.display = "inline-block";
    }
    a.forEach((item,index)=>{
      item.id=index;
      let dom = document.createElement("a");
      let it = item.cloneNode(true).innerHTML;
      dom.setAttribute("href","#"+index);
      dom.innerHTML = it;
      b.appendChild(dom);
    })
    var scroll = new SmoothScroll('a[href*="#"]',{
      offset:100
  });
  </script>
  {% endif %}
  <script>
    let  agree = document.querySelector('.agree');
    let  disagree = document.querySelector('.disagree');
    let dialog = document.querySelector('.dialog');
    let getAgree =sessionStorage.getItem('agree')||false;
    if(getAgree){
    	dialog.style.display ="none";
    }
    agree.onclick = function(){
        dialog.style.display ="none";
        sessionStorage.setItem('agree',true);
    }
    disagree.onclick = function(){
    	location.href = "https://www.google.com/"
    }

  </script>
 <!-- Start of LiveChat (www.livechat.com) code
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 14611962;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>
<noscript><a href="https://www.livechat.com/chat-with/14611962/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
 End of LiveChat code -->

 </body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}


